<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar style="background-color: #009688;">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>Nodebucket</button>
        <img src="./assets/logo.png" class='logoImage'>
        <!--https://www.flaticon.com/free-icon/bucket_3237640-->
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - Nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
