<div fxFlex>
  <mat-card class='mat-elevation-z0'>
    <mat-card-title>About Us</mat-card-title>

    <mat-card-subtitle>Web-450</mat-card-subtitle>

    <mat-card-content>
      NodeBucket is a task manager application that was developed for the Web-450 course at
      Bellevue University. The purpose of the application is to demonstrate our knowledge of
      the MEAN stack. This application utilizes all components of the MEAN stack, MongoDB,
       Express, Angular, and Node.js. The application was developed using agile development
      practices. We developed this project over the course of four weeks. One week was designated
      for design and was followed by three one week sprints.
    </mat-card-content>
  </mat-card>

  <div fxLayout='row wrap'>

    <div fxFlex>

      <mat-card class='mat-elevation-z0'>
        <mat-card-title class='align-center'>
          <mat-icon color='primary'>phone</mat-icon>
        </mat-card-title>

        <br>

        <mat-card-content class='align-center'>
            <p>
              Phone: 406-453-7863
            </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class='mat-elevation-z0'>
        <mat-card-title class='align-center'>
          <mat-icon color='primary'>email</mat-icon>
        </mat-card-title>

        <br>

        <mat-card-content class='align-center'>
          <p>
            Email: fakeEmail@gmail.com
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
