<div class="center" fxLayout='column'>

  <mat-card fxFlex mat-elevation-z8 class="sign-in-container">

    <mat-card-title>
      Sign-In
    </mat-card-title>

    <mat-card-subtitle>
      You must enter a valid Id to proceed
    </mat-card-subtitle>

    <form [formGroup]='form' (NgSubmit)="login(); form.reset();">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Employee ID:</mat-label>
          <input matInput [formControl]="form.controls['empId']">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button type='submit' fxFlex mat-raised-button color='accent' [disabled]='!form.valid' (click)="login()">Sign-In</button>
      </mat-card-actions>
    </form>

  </mat-card>
</div>
